@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d3d3d3; /* Gris claro como en la imagen */
  font-family: Arial, sans-serif;
  position: relative;
}

.forgot-password-box {
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.lock-icon {
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}

.message {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #e0e0e0;
  color: #333;
}

.btn-submit, .btn-secondary {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c7b299;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover, .btn-secondary:hover {
  background-color: #c7b299;
}

.or {
  margin: 10px 0;
  color: #333;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 14px;
}